@{
    ViewData["Title"] = "Razor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="welcome-body">
    <h1>Vehicle registry</h1>
    <p>To add a new car or manufacturer please select a page from header.</p>

    <img id="main-image" src="images/cars.jpg">
</div>