
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="manufacturer">
    <div class="small" id="add-new-manufacturer">
        
    </div>

    <div class="large" id="manufacturers-table">

    </div>
</div>