@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cars">
    <div class="small" id="add-new-car">

    </div>

    <div class="large" id="cars-table">
        
    </div>
</div>